
*.lock
*.v2
*.vsidx
*.v1
jp_verb_console/.vs/jp_verb_console/v17/.suo
jp_verb_console/jp_verb_console/bin/Debug/netcoreapp3.1/jp_verb_console.deps.json
jp_verb_console/jp_verb_console/bin/Debug/netcoreapp3.1/jp_verb_console.dll
jp_verb_console/jp_verb_console/bin/Debug/netcoreapp3.1/jp_verb_console.exe
jp_verb_console/jp_verb_console/bin/Debug/netcoreapp3.1/jp_verb_console.pdb
jp_verb_console/jp_verb_console/bin/Debug/netcoreapp3.1/jp_verb_console.runtimeconfig.dev.json
jp_verb_console/jp_verb_console/bin/Debug/netcoreapp3.1/jp_verb_console.runtimeconfig.json
jp_verb_console/jp_verb_console/bin/Release/netcoreapp3.1/jp_verb_console.deps.json
jp_verb_console/jp_verb_console/bin/Release/netcoreapp3.1/jp_verb_console.dll
jp_verb_console/jp_verb_console/bin/Release/netcoreapp3.1/jp_verb_console.exe
jp_verb_console/jp_verb_console/bin/Release/netcoreapp3.1/jp_verb_console.pdb
jp_verb_console/jp_verb_console/bin/Release/netcoreapp3.1/jp_verb_console.runtimeconfig.dev.json
jp_verb_console/jp_verb_console/bin/Release/netcoreapp3.1/jp_verb_console.runtimeconfig.json
*.pdb
*.editorconfig
*.cache
*.BuildWithSkipAnalyzers
*.resources
*.targets
*.props
jp_verb_console/jp_verb_console/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
jp_verb_console/jp_verb_console/obj/Debug/netcoreapp3.1/apphost.exe
jp_verb_console/jp_verb_console/obj/Debug/netcoreapp3.1/jp_verb_console.AssemblyInfo.cs
jp_verb_console/jp_verb_console/obj/Debug/netcoreapp3.1/jp_verb_console.csproj.FileListAbsolute.txt
jp_verb_console/jp_verb_console/obj/Debug/netcoreapp3.1/jp_verb_console.dll
jp_verb_console/jp_verb_console/obj/jp_verb_console.csproj.nuget.dgspec.json
jp_verb_console/jp_verb_console/obj/project.assets.json
jp_verb_console/jp_verb_console/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
jp_verb_console/jp_verb_console/obj/Release/netcoreapp3.1/apphost.exe
jp_verb_console/jp_verb_console/obj/Release/netcoreapp3.1/jp_verb_console.AssemblyInfo.cs
jp_verb_console/jp_verb_console/obj/Release/netcoreapp3.1/jp_verb_console.csproj.FileListAbsolute.txt
jp_verb_console/jp_verb_console/obj/Release/netcoreapp3.1/jp_verb_console.dll
